.checkoutForm {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url("https://media.istockphoto.com/photos/weve-got-you-covered-during-lockdown-picture-id1287632111?b=1&k=20&m=1287632111&s=170667a&w=0&h=PvIcxOiA4Ofhy3FN6S4gcJXlU-EfsmkDnBKt3HmZNw8= ");
  background-repeat: no-repeat;
  background-size: cover;
}
.checkoutForm:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.checkoutFormContent {
  min-height: fit-content;
  padding: 32px 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #1d1d1d;
  box-shadow: 0px 0px 10px #1d1d1d30;
  z-index: 19;
  margin: 40px 0;
}
.checkoutFormHeader {
  text-align: center;
}
.checkoutFormHeader h5 {
  opacity: 0.3;
}
.checkoutFormBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 80%;
  margin-top: 24px;
}
.checkoutForm form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.checkoutForm form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  height: 30%;
  margin: 6px 0;
}
.checkoutForm form .form-group label {
  font-size: 1rem;
  font-family: "DM sans", sans-serif;
}
.checkoutForm form .form-group input {
  height: 42px;
  border-radius: 4px;
  border: none;
  outline: none;
  background: rgb(43, 43, 43);
  color: white;
  padding: 4px 12px;
  font-family: "DM sans", sans-serif;
  margin: 8px 0;
}
.checkoutForm form button {
  border: 1px solid var(--brand-red);
  outline: none;
  border-radius: 2px;
  margin-top: 16px;
  background-color: transparent;
  color: white;
  transition: all 0.1s ease-in-out;
}
.checkoutForm form button:hover {
  background-color: var(--brand-red);
  color: white;
  border: 1px solid var(--brand-red);
}
@media screen and (max-width: 576px) {
  .checkoutFormContent {
    width: 90%;
  }
  .checkoutFormBody {
    width: 90%;
  }
}
