.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0px 100px;
  overflow: hidden;
}
.hero .heroContent h1 {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 67px;
  letter-spacing: -0.025em;
}
.hero .heroContent h1 span {
  color: var(--brand-red);
}
.hero .heroContent h4 {
  font-family: Gotham;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;

  color: rgba(0, 0, 0, 0.5);
}
.hero .heroImg {
  overflow: hidden;
  width: 50%;
  height: 100%;
}
.hero .heroImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btns {
  display: flex;
  margin-top: 20px;
}
.btns .btn-fill:hover {
  color: white;
}
.category,
.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
}
.header-text h3 {
  color: var(--brand-red);
}
.category .category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.category .category-container .category-item {
  width: 32%;
  height: 400px;
  margin: 10px 0;
  position: relative;
  box-shadow: 0px 0px 10px #1d1d1d30;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.category .category-container .category-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .category-container .category-item p {
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #ffffff;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #ff333399;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}
.category .category-container .category-item:hover p {
  opacity: 1;
}
.card-deck {
  display: flex;
}

.explore-category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 80px 0px;
}
.bestsellers {
  flex-direction: row-reverse;
}
.hero-carousel {
  width: 100% !important;
  height: 90vh !important;
  overflow: hidden;
}
.hero-carousel .carousel-item img {
  height: 90vh;
  object-fit: cover;
}
.explore-desc,
.desc-carousel {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 16px;
  margin: 8px 16px;
}
.explore-category .explore-desc .explore-desc-header h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.025em;
  color: #000000;
}
.explore-category .explore-desc .explore-desc-header p {
  font-size: 22px;
  line-height: 151%;
  margin: 20px 0;
  color: #000000;
}
.explore-img {
  width: 55%;
  height: 80%;
  object-fit: cover;
}
.explore-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero .heroContent {
    width: 100%;
    margin: 0px 40px;
  }
  .hero .heroImg {
    display: none;
  }
  .carousel {
    width: 100%;
    height: 100%;
  }
  .category .category-container {
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .category .category-container .category-item {
    width: 44%;
    height: 180px;
    margin: 10px 8px;
  }
  .category .category-container .category-item p {
    opacity: 1;
    font-size: 24px;
    font-weight: medium;
    height: 30%;
    top: 70%;
  }
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .explore-category {
    flex-direction: column-reverse;
    height: auto;
    margin: 20px 0;
  }
  .explore-desc,
  .explore-img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 576px) {
  .hero {
    position: relative;
  }
  .hero .heroContent {
    width: 100%;
    margin: 0px 40px;
  }
  .hero .heroContent h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .heroContent .btns .btn-fill {
    margin: 10px;
  }
  .hero .heroImg {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .hero .heroImg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
  }
}
